.added-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    top:5rem;
    justify-content: space-around;
    outline: none;
}
.checkout-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 4rem;
    border: 1px solid #9283a3c4;
    position: relative;
    margin-top: 3rem;
    border-radius: 1em;
    background-color: #9283a3c4;
    color: white;
}

.Total-items{
    margin: auto 2em auto 1em;
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: bold;
}

.checkout{
    margin: auto 1em auto 2em;
    background-color:beige;
    border: 0.2em solid beige;
    color: #1c112c;
    font-weight: bold;
    border-radius: 0.5em;
    font-family: "Inter", sans-serif;
    width:fit-content;
    font-size: 90%;
}

.checkout:hover {
    background-color: rgb(228, 228, 200);
    border: 0.2em solid rgb(228, 228, 200);
}

.itms{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    height: auto;
    margin-top: 3rem;
    border: none;
    justify-content: space-evenly;
}

.itm{
    display: grid;
    column-gap: normal;
    border: 1px solid rgb(212, 210, 210);
    background-color: rgba(240, 238, 238, 0.514) ;
    border-radius: 10px;
    grid-template-rows: auto;
    margin: 1rem 0;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: auto 8rem 3rem 12rem 5rem;
  
}
.cart_img{
    display: flex;
    margin: 0.3rem 0.5rem;
    border-radius: 1em;
    grid-column: 1;
    width: 4rem;
    height: 4rem;
    grid-row: 1;
}

.itmName{
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: bold;
    grid-column: 2;
    width: max-content;
    grid-row: 1;
}

.itmwt{
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: bold;
    grid-column: 3;
    grid-row: 1;
}

.qty{
    display: flex;
    border: 1px solid #b592e2;
    border-radius: 2em;
    width: 10rem;
    height: 2rem ;
    justify-content: space-evenly;
    position: relative;
    background-color: #b592e2;
    color: white;
    align-items: center;
    grid-column: 4;
    grid-row: 1;
    justify-self: center;
}


.final_qty, .qty_update{
    position: relative;
    background-color: #b592e2;
    color: white;
    font-size: large;
    border: 1px solid #b592e2;
    border-radius: 2em;
    font-weight: bold;
    height: inherit;
    display: flex;
    align-items: center;
}

.qty_update:hover, .qty_update:active, .qty_update:focus, .qty_update:focus{
    outline: none;
}

.price{
    font-family: "Inter", sans-serif;
    font-size: medium;
    font-weight: bold;
    grid-column: 5;
    grid-row: 1;

}

.empty-cart{
    display: flex;
    position: relative;
    top: 8rem;
    font-family: "Inter", sans-serif;
    font-size: larger;
    justify-content: center;
}