*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items:center ;
    height: 4rem;
    justify-content: space-between;
    position: fixed;
    top: 3.5rem;
    border-bottom: 1px solid rgb(221, 220, 220);
    padding-bottom: 1em;
    margin-left: 2em;
    background-color: white;
    z-index: 1;
}


.page-name{
    display: flex;
    font-size: 2rem;
    color:  #6D6D6D;
    font-family: "Newsreader", serif;
    font-weight: normal;
    padding-left: 2rem;
    margin-top: 0;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.sort{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;  
    margin-left: 50%;
    margin-top: 2em;
}

.sort-option{
    border: 1px solid rgb(199, 196, 196);
    border-radius: 1em;
    font-size: 12px;
    width: max-content;
    height: 2em;
    padding: 0.5em 1em 0 1em;

}
.sort-option:hover{
    background-color: #b583f5;
    color: white
}