*{
    margin: 0;
    padding:0;
}

.Products{
    display:grid;
    grid-gap: 2rem 1rem;
    left: 10%;
    /* right: 10%; */
    position: relative;
    top: 10rem;
    width: fit-content;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
}

.item{
    display:grid;
    grid-template-columns: 10rem 6rem;
    grid-template-rows: 10rem 2rem 2rem 3rem;
    justify-content:space-evenly;
    align-content: flex-start;
    border: 2px solid #E6E6E6;
    border-radius: 1em;
    width: fit-content;
    height: auto;
}

.itemImg{
    display: grid;
    width: 70%;
    height: 100%;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    border-radius: 2em;
    margin-left: 2.5rem;
}
.itemBody{
    display: grid;
    grid-template-columns: 10rem 6rem;
    grid-template-rows: 2rem 2rem 3rem;
    width: 100%;
    justify-content:flex-start;
    font-family: "Inter", sans-serif;
}

.itemName{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    padding-left: 2em;
    margin-top: 0.4rem;
    font-size: small;
}

.price_qty{
    padding-left: 2em;
    grid-column: 1/span 1;
    grid-row: 2/span 2;
    justify-content: space-between;
    font-size: 1em;
    height: fit-content;
}

.save{
    display: flex;
    grid-column: 2/span 2;
    grid-row: 1/span 2;
    font-size: 60%;
    width: 60%;
    height: 4em;
    background-color: white;
    color: rgb(5, 5, 5);
    justify-content: center;
    margin-left: 2em;
    padding: 0;
}

.save:hover{
    border: white;
}

.save-icon{
    width: 3em;
    height: 3em;
}

.save-icon:active{
    background-color: #9058da;
    border-radius: 15px;
}
.add-to-cart{
    display: flex;
    grid-column: 1/span 2;
    grid-row: 3/span 3;
    width: 70%;
    height: fit-content ;
    position: relative;
    justify-content: center;
    margin-top: 0.5em;
    left: 2.5rem;
}
.add{
    grid-column: 1/span 2;
    grid-row: 3/span 3;
    border: 1px solid #b592e2;
    border-radius: 2em;
    width: 100%;
    height: max-content ;
    justify-content: center;
    display: flex;
    font-size: 0.8rem;
    position: relative;
    background-color: #b592e2;
    color: white;
    
}

.saved-items{
    display:grid;
    grid-gap: 2rem 1rem;
    position: relative;
    top: 0;
    left: 30%;
    width: fit-content;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
}

.empty-wishlist{
    display: flex;
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: larger;
    justify-content: center;
}

@media screen and (max-width: 768px) and (min-width: 217px ) {
    .Products{
       justify-content: space-evenly;
       width: fit-content;
       grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1309px ) {
    .Products{
    grid-template-columns: auto auto auto;
    left: 5%;
    right: 5%;
    width: min-content;
    }
}






