*{
    margin: 0;
    padding:0;
}

.Products{
    display:grid;
    grid-gap: 2rem 1rem;
    margin-top: 2rem;
    margin-left: 5%;
    position: relative;
    top: 8rem;
    width:20%;
}

.item{
    display:grid;
    grid-template-columns: 10rem 6rem;
    grid-template-rows: 10rem 2rem 2rem 3rem;
    justify-content:space-evenly;
    align-content: flex-start;
    border: 2px solid #E6E6E6;
    border-radius: 1em;
    
}

.itemImg{
    display: flex;
    width: 70%;
    height: 100%;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    border-radius: 2em;
    padding-left: 2rem;
}
.itemBody{
    display: grid;
    grid-template-columns: 10rem 6rem;
    grid-template-rows: 2rem 2rem 3rem;
    width: 100%;
    justify-content:flex-start;
}

.itemName{
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    padding-left: 2em;

}

.price_qty{
    padding-left: 2em;
    grid-column: 1/span 1;
    grid-row: 2/span 2;
    justify-content: space-between;
    font-size: 1em;
    height: fit-content;
}

.save{
    display: flex;
    grid-column: 2/span 2;
    grid-row: 1/span 2;
    font-size: 60%;
    width: 60%;
    height: 4em;
    background-color: white;
    color: rgb(5, 5, 5);
    justify-content: center;
    margin-left: 2em;
    padding: 0;
}

.save:hover{
    border: white;
}

.save-icon{
    width: 3em;
    height: 3em;
}
.add{
    grid-column: 1/span 2;
    grid-row: 3/span 3;
    border: 1px solid #b592e2;
    border-radius: 2em;
    width: 70%;
    height: min-content ;
    justify-content: center;
    display: flex;
    font-size: 0.8rem;
    position: relative;
    margin-left: 3em;
    margin-right: 3.5em;
    margin-top: 0.5em;
    background-color: #b592e2;
    color: white;
    
}






