
a {
  font-weight: 500;
  text-decoration: inherit;
}


body {
  margin: 0;
  /* display: grid; */
  min-width: 320px;
  min-height: 100vh;
}

button {
 padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;

}


button:hover, button:active, button:focus{
  outline: none;
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 

}
